body {
  background: url('images/bg.jpg') no-repeat #cccccc;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  font-size: 16px;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  margin: 0;
}

a {
  color: crimson;
  text-decoration: none;
}

a:hover {
  color: red;
}


/* Layout
------------------------------------------*/

.container {
  margin: 0 auto;
  padding: 3em;
}

.marker {
  height: 71px;
  width: 508px;
  background: url('images/marker.png') no-repeat;
  padding: 1.8em 7em;
  box-sizing: border-box;
}

.note {
  background: none;
  border: 1px solid #000000;
}

ul, li {
  list-style: none;
}

ul {
  overflow: hidden;
  padding: 3em;
}

ul li {
  text-decoration: none;
  color: #000000;
  background:#fff7b2;
  display: block;
  height: 7em;
  width: 7em;
  padding: 1em;
  font-family: 'Reenie Beanie', cursive;
  font-size: 30px;
  margin: 1em;
  float: left;
  box-shadow: 5px 5px 7px rgba(33,33,33,.7);
  transform: rotate(-6deg);
  border-bottom-right-radius: 70px 10px;
  position: relative;
  z-index: 100;
}

ul li:nth-child(even) {
  transform: rotate(4deg);
  position: relative;
  top: 5px;
}

ul li:nth-child(3n) {
  transform: rotate(-5deg);
  position: relative;
  top: -5px;
}

ul li:nth-child(6n) {
  transform: rotate(10deg);
  position: relative;
  top: -10px;
}

ul li:nth-child(8n) {
  transform: rotate(7deg);
  position: relative;
  top: -7px;
}

/*ul li:after {     
  content: "";
  position: absolute;
  z-index: -1;
  right: -0px; 
  bottom: 20px;
  width: 200px;
  height: 25px;
  background: transparent(0, 0, 0, 0.2);
  box-shadow: 2px 15px 5px rgba(0, 0, 0, 0.40);
  transform: matrix(-1, -0.1, 0, 1, 0, 0);
}*/